.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.back_button {
  color: green;
}

p {
  .commenter {
    text-decoration: underline;
  }
}

.articles_table {
  margin: 20px 0;
}

.back_to_main {
  //margin-top: 20px;
  //color: green;
}